body {
    margin: 0;
    background-color: #f8f8fb;
  }

  .content-grid {
    transform: translate(100px, 0px);
    margin: 0px;
    transition: transform 0.4s ease-in-out 0s;
    max-width: 1184px;
    padding: 50px 0 100px;
  }

  .profile-header {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  }

  .profile-header .profile-header-info {
    padding-bottom: 32px;
    position: relative;
  }

  .profile-header .profile-header-cover {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 300px;
  }

  .profile-header-cover {
    background: url(https://img.freepik.com/free-vector/girl-reads-book-old-library-night_107791-4743.jpg?w=1800&t=st=1656522084~exp=1656522684~hmac=91ae43bc28a80847534dc7ac913572fbad57a8a00d383bdac37500bc592a6e7f)
      center center / cover no-repeat;
  }

  .user-short-description {
    padding-top: 84px;
    position: relative;
  }
  
  .user-short-description.big {
    padding-top: 52px;
  }