body {
    margin: 0;
    background-color: #f8f8fb;
  }

  .content-grid {
    transform: translate(100px, 0px);
    margin: 0px;
    transition: transform 0.4s ease-in-out 0s;
    max-width: 1184px;
    padding: 50px 0 100px;
  }

  .profile-header {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  }

  .profile-header .profile-header-info {
    padding-bottom: 32px;
    position: relative;
  }

  .profile-header .profile-header-cover {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 300px;
  }

  .profile-header-cover {
    background: url(https://odindesignthemes.com/vikinger-theme/wp-content/uploads/buddypress/members/1/cover-image/5f6d2c93c75db-bp-cover-image.jpg)
      center center / cover no-repeat;
  }

  .user-short-description {
    padding-top: 84px;
    position: relative;
  }
  
  .user-short-description.big {
    padding-top: 52px;
  }